@{
    ViewData["Title"] = "Movies Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to LDS Movies Page</h1>
    <hr class="my-4">
    <p>This application manages a database of movies, which includes titles, genre, release date, ratings, and prices.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Movies" role="button">Click Here to access movies</a>
    </p>
</div>
